# Test Results

**Last run**: 12/14/2021 at 5:41 PM (commit 2fa9219b8cedf30684077533e263e410e1187acf)

## Results

Test Suites: 2 passed, 2 total
Tests: 63 passed, 63 total
Snapshots: 0 total
Time: 4.384 s, estimated 5 s

## Coverage

---------------------------|---------|----------|---------|---------|-------------------
File | % Stmts | % Branch | % Funcs | % Lines | Uncovered Line #s
---------------------------|---------|----------|---------|---------|-------------------
All files | 97.39 | 93.75 | 96.87 | 97.12 |
src/helpers | 60 | 100 | 50 | 60 |
date-helpers.js | 60 | 100 | 50 | 60 | 2-3
src/model | 100 | 100 | 100 | 100 |
Activity.js | 100 | 100 | 100 | 100 |
ActivityType.js | 100 | 100 | 100 | 100 |
src/repositories | 100 | 100 | 100 | 100 |
ActivityRepository.js | 100 | 100 | 100 | 100 |
TypeRepository.js | 100 | 100 | 100 | 100 |
src/repositories/errors | 100 | 50 | 100 | 100 |
AlreadyAddedError.js | 100 | 0 | 100 | 100 | 2
IdNotProvidedError.js | 100 | 100 | 100 | 100 |
InvalidDateError.js | 100 | 0 | 100 | 100 | 2
InvalidIdFormatError.js | 100 | 100 | 100 | 100 |
MissingModelInfoError.js | 100 | 0 | 100 | 100 | 2
NotFoundError.js | 100 | 100 | 100 | 100 |
tests | 90 | 100 | 100 | 90 |
dbHandler.utils.js | 90 | 100 | 100 | 90 | 26
tests/fixtures | 100 | 100 | 100 | 100 |
index.js | 100 | 100 | 100 | 100 |
tests/util | 90 | 50 | 100 | 88.88 |
expect-helpers.js | 90 | 50 | 100 | 88.88 | 7,23
---------------------------|---------|----------|---------|---------|-------------------
