# Test Results

**Last run**: 12/20/2021 at 7:06 AM (commit b6d2f3a189ac0b944b0e8402a1ff14f4839ac456)

## Results

Test Suites: 4 passed, 4 total

Tests: 122 passed, 122 total

Snapshots: 0 total

Time: 7.381 s, estimated 9 s

## Coverage

| File                     | % Stmts | % Branch | % Funcs | % Lines | Uncovered Line #s |
| ------------------------ | ------- | -------- | ------- | ------- | ----------------- |
| All files                | 96.47   | 92.38    | 98      | 96.24   |
| src/helpers              | 60      | 100      | 50      | 60      |
| date-helpers.js          | 60      | 100      | 50      | 60      | 2-3               |
| src/model                | 100     | 100      | 100     | 100     |
| Activity.js              | 100     | 100      | 100     | 100     |
| ActivityType.js          | 100     | 100      | 100     | 100     |
| src/repositories         | 100     | 100      | 100     | 100     |
| ActivityRepository.js    | 100     | 100      | 100     | 100     |
| TypeRepository.js        | 100     | 100      | 100     | 100     |
| src/repositories/errors  | 100     | 42.85    | 100     | 100     |
| AlreadyAddedError.js     | 100     | 0        | 100     | 100     | 2                 |
| IdNotProvidedError.js    | 100     | 100      | 100     | 100     |
| InvalidDateError.js      | 100     | 0        | 100     | 100     | 2                 |
| InvalidIdFormatError.js  | 100     | 100      | 100     | 100     |
| MissingModelInfoError.js | 100     | 0        | 100     | 100     | 2                 |
| NameNotProvidedError.js  | 100     | 0        | 100     | 100     | 2                 |
| NotFoundError.js         | 100     | 100      | 100     | 100     |
| src/routers              | 92.5    | 90       | 100     | 92.5    |
| activities.js            | 94.11   | 88.88    | 100     | 94.11   | 95-97             |
| types.js                 | 89.65   | 90.9     | 100     | 89.65   | 63-65             |
| tests                    | 100     | 100      | 100     | 100     |
| dbHandler.utils.js       | 100     | 100      | 100     | 100     |
| tests/fixtures           | 100     | 100      | 100     | 100     |
| index.js                 | 100     | 100      | 100     | 100     |
| tests/util               | 90      | 50       | 100     | 88.88   |
| expect-helpers.js        | 90      | 50       | 100     | 88.88   | 7,23              |
