# Test Results

**Last run**: 12/15/2021 at 6:40 AM (commit f1dc560f022557896a39744d3882ec028379d7ef)

## Results

Test Suites: 4 passed, 4 total

Tests: 117 passed, 117 total

Snapshots: 0 total

Time: 8.447 s, estimated 9 s

## Coverage

| File                     | % Stmts | % Branch | % Funcs | % Lines | Uncovered Line #s |
| ------------------------ | ------- | -------- | ------- | ------- | ----------------- |
| All files                | 96.33   | 92.85    | 97.91   | 96.07   |
| src/helpers              | 60      | 100      | 50      | 60      |
| date-helpers.js          | 60      | 100      | 50      | 60      | 2-3               |
| src/model                | 100     | 100      | 100     | 100     |
| Activity.js              | 100     | 100      | 100     | 100     |
| ActivityType.js          | 100     | 100      | 100     | 100     |
| src/repositories         | 100     | 100      | 100     | 100     |
| ActivityRepository.js    | 100     | 100      | 100     | 100     |
| TypeRepository.js        | 100     | 100      | 100     | 100     |
| src/repositories/errors  | 100     | 50       | 100     | 100     |
| AlreadyAddedError.js     | 100     | 0        | 100     | 100     | 2                 |
| IdNotProvidedError.js    | 100     | 100      | 100     | 100     |
| InvalidDateError.js      | 100     | 0        | 100     | 100     | 2                 |
| InvalidIdFormatError.js  | 100     | 100      | 100     | 100     |
| MissingModelInfoError.js | 100     | 0        | 100     | 100     | 2                 |
| NotFoundError.js         | 100     | 100      | 100     | 100     |
| src/routers              | 92.3    | 88.88    | 100     | 92.3    |
| activities.js            | 94.11   | 88.88    | 100     | 94.11   | 95-97             |
| types.js                 | 88.88   | 88.88    | 100     | 88.88   | 58-60             |
| tests                    | 100     | 100      | 100     | 100     |
| dbHandler.utils.js       | 100     | 100      | 100     | 100     |
| tests/fixtures           | 100     | 100      | 100     | 100     |
| index.js                 | 100     | 100      | 100     | 100     |
| tests/util               | 90      | 50       | 100     | 88.88   |
| expect-helpers.js        | 90      | 50       | 100     | 88.88   | 7,23              |
